<div id="container">
    <div id="container-content">
        <h3>Login</h3>
        <form id="login" class="form-group" ngNoForm>
            <input type="text" id="input" placeholder="Username" [(ngModel)]="data.name" required>
            <input type="password" id="input" placeholder="Password" [(ngModel)]="data.password" required>
            <button type="submit" id="submit" (click)="login()"><b>Login</b></button>
            <a (click)="signup()"><p>Click Here to Create a New Account...</p></a>
        </form>
    </div>
  </div>
  <router-outlet></router-outlet>